USE [master]
GO
/****** Object:  Database [OPCRouter_TELEGRAM]    Script Date: 16/05/2022 16:09:00 ******/
CREATE DATABASE [OPCRouter_TELEGRAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OPCRouter_TELEGRAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OPCRouter_TELEGRAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OPCRouter_TELEGRAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OPCRouter_TELEGRAM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OPCRouter_TELEGRAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OPCRouter_TELEGRAM]
GO
/****** Object:  Table [dbo].[TB_INACTIVE_USER]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_INACTIVE_USER](
	[CD_USER] [varchar](16) NOT NULL,
	[DT_PROG_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TASK]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TASK](
	[CD_TASK] [int] IDENTITY(1,1) NOT NULL,
	[NM_TASK] [nvarchar](32) NULL,
	[NM_DESCRIPTION] [nvarchar](320) NULL,
	[DT_CREATED] [datetime] NULL,
	[IC_CONCLUDED] [bit] NULL,
	[CD_TASK_GROUP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_TASK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TASK_GROUP]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TASK_GROUP](
	[CD_TASK_GROUP] [int] IDENTITY(1,1) NOT NULL,
	[NM_TASK_GROUP] [nvarchar](32) NULL,
	[DT_CREATED] [datetime] NULL,
	[CD_USER] [varchar](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_TASK_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USER]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USER](
	[CD_USER] [varchar](16) NOT NULL,
	[CD_USERNAME] [varchar](32) NULL,
	[NM_FORENAME] [nvarchar](32) NULL,
	[NM_SURNAME] [nvarchar](32) NULL,
	[DT_CREATED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_TASK]  WITH CHECK ADD FOREIGN KEY([CD_TASK_GROUP])
REFERENCES [dbo].[TB_TASK_GROUP] ([CD_TASK_GROUP])
GO
ALTER TABLE [dbo].[TB_TASK_GROUP]  WITH CHECK ADD FOREIGN KEY([CD_USER])
REFERENCES [dbo].[TB_USER] ([CD_USER])
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_INACTIVE_USERS]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_INACTIVE_USERS]
	AS
	BEGIN
	SET NOCOUNT ON

	DECLARE TEMP_USERS_CURSOR CURSOR FOR SELECT * FROM TB_INACTIVE_USER;
	DECLARE @TEMP_ID VARCHAR(16);
	DECLARE @TEMP_DATE DATE;
	DECLARE @TEMP_RESULT BIT;

	OPEN TEMP_USERS_CURSOR;

	FETCH NEXT FROM TEMP_USERS_CURSOR INTO @TEMP_ID, @TEMP_DATE;
 
	WHILE @@FETCH_STATUS = 0
		BEGIN
			IF @TEMP_DATE = CONVERT(DATE, GETDATE())
				BEGIN
					EXEC SP_DELETE_USER @TEMP_ID, '', @TEMP_RESULT;
					DELETE FROM TB_INACTIVE_USER WHERE CD_USER = @TEMP_ID;
				END
			FETCH NEXT FROM TEMP_USERS_CURSOR INTO @TEMP_ID, @TEMP_DATE;
		END
	CLOSE TEMP_USERS_CURSOR;
	DEALLOCATE TEMP_USERS_CURSOR;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONCLUDE_TASK]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONCLUDE_TASK]
	(@USER_ID VARCHAR(16),
	@TASK_ID INT,
	@TASK_NAME NVARCHAR(32) OUTPUT,
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON

	SET @TASK_NAME = (SELECT '');
	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					IF (SELECT CD_USER FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID) IS NULL
						BEGIN
							IF @TASK_ID IS NOT NULL
								BEGIN
									DECLARE @TEMP_TASK TABLE(
										CD_TASK INT,
										NM_TASK_NAME NVARCHAR(32)
									);

									INSERT INTO @TEMP_TASK SELECT T.CD_TASK, T.NM_TASK FROM TB_TASK T JOIN TB_TASK_GROUP TG ON TG.CD_TASK_GROUP = T.CD_TASK_GROUP JOIN TB_USER TU ON TU.CD_USER = TG.CD_USER WHERE T.CD_TASK = @TASK_ID AND TU.CD_USER = @USER_ID;

									IF @@ROWCOUNT = 1
										BEGIN
											UPDATE TB_TASK SET IC_CONCLUDED = 1 WHERE CD_TASK = (SELECT CD_TASK FROM @TEMP_TASK);
											SET @TASK_NAME = (SELECT NM_TASK_NAME FROM @TEMP_TASK);
											SET @RESULT = 1;
											SET @RESULT_DESC = (SELECT 'CCT');
										END
									ELSE
										BEGIN
											SET @RESULT_DESC = (SELECT 'GE-6');
										END
								END
							ELSE
								BEGIN
									SET @RESULT_DESC = (SELECT 'GE-5');
								END
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = (SELECT 'GE-7');
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_TASK]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATE_TASK]
	(@GROUP_ID INT,
	@USER_ID VARCHAR(16),
	@TASK_TITLE NVARCHAR(32),
	@TASK_DESCRIPTION NVARCHAR(320),
	@TASK_ID INT OUTPUT,
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON

	SET @RESULT = 0;
	SET @TASK_ID = (SELECT '');

	IF @USER_ID IS NOT NULL	
		BEGIN
			IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					IF (SELECT CD_USER FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID) IS NULL
						BEGIN
							IF @GROUP_ID IS NOT NULL
								BEGIN
									IF (SELECT CD_TASK_GROUP FROM TB_TASK_GROUP WHERE CD_TASK_GROUP = @GROUP_ID AND CD_USER = @USER_ID) IS NOT NULL
										BEGIN
											IF (SELECT @TASK_TITLE) IS NOT NULL AND (SELECT LEN(@TASK_TITLE)) > 3
												BEGIN
													INSERT INTO TB_TASK(CD_TASK_GROUP, NM_TASK, NM_DESCRIPTION, IC_CONCLUDED, DT_CREATED)
													VALUES (@GROUP_ID, @TASK_TITLE, @TASK_DESCRIPTION, 0, GETDATE());

													DECLARE @SCOPEID AS VARCHAR(16);
													SET @SCOPEID = (SELECT SCOPE_IDENTITY());

													IF @SCOPEID IS NOT NULL
														BEGIN
															SET @RESULT = 1;
															SET @TASK_ID = @SCOPEID;
															SET @RESULT_DESC = (SELECT 'CT');
														END
													ELSE
														BEGIN
															SET @RESULT_DESC = (SELECT 'GE-3');
														END
												END
											ELSE
												BEGIN
													SET @RESULT_DESC = (SELECT 'CT-1');
												END
										END
									ELSE
										BEGIN
											SET @RESULT_DESC = (SELECT 'CT-2');
										END
								END
							ELSE
								BEGIN
									SET @RESULT_DESC = (SELECT 'GE-4');
								END
						END
					ELSE
						BEGIN
							SET @RESULT = 0;
							SET @TASK_ID = (SELECT '');
							SET @RESULT_DESC = (SELECT 'GE-7');
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_TASK_GROUP]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATE_TASK_GROUP]
	(@USER_ID VARCHAR(16),
	@GROUP_NAME NVARCHAR(32),
	@GROUP_ID INT OUTPUT,
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON
	
	SET @GROUP_ID = (SELECT '');
	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					IF (SELECT CD_USER FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID) IS NULL
						BEGIN
							IF @GROUP_NAME IS NOT NULL AND (SELECT LEN(@GROUP_NAME)) > 3
								BEGIN
									IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
										BEGIN
											INSERT INTO TB_TASK_GROUP(CD_USER, NM_TASK_GROUP, DT_CREATED)
											VALUES (@USER_ID, @GROUP_NAME, GETDATE());

											DECLARE @SCOPE_ID INT = (SELECT SCOPE_IDENTITY());

											IF @SCOPE_ID IS NOT NULL
												BEGIN
													SET @GROUP_ID = @SCOPE_ID;
													SET @RESULT = 1;
													SET @RESULT_DESC = (SELECT 'CTG');
												END
											ELSE
												BEGIN
													SET @RESULT_DESC = (SELECT 'GE-3');
												END
										END
									ELSE
										BEGIN
											SET @RESULT_DESC = (SELECT 'GE-2');
										END
								END
							ELSE
								BEGIN
									SET @RESULT_DESC = (SELECT 'CTG-1');
								END
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = (SELECT 'GE-7');
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_USER]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATE_USER]
	(@USER_ID VARCHAR(16),
	@USERNAME NVARCHAR(32),
	@FORENAME NVARCHAR(16),
	@SURNAME NVARCHAR(16),
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON

	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			DECLARE @TEMP_USER AS VARCHAR(16);
			SET @TEMP_USER = (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID);

			IF @TEMP_USER IS NULL
				BEGIN
					INSERT INTO TB_USER (CD_USER, CD_USERNAME, NM_FORENAME, NM_SURNAME, DT_CREATED)
					VALUES (@USER_ID, @USERNAME, @FORENAME, @SURNAME, GETDATE());

					IF @@ROWCOUNT > 0
						BEGIN
							SET @RESULT = 1;
							SET @RESULT_DESC = 'CU';
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = 'GE-3';
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = 'CU-1';
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = 'GE-1';
		END
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_ALL_TASKS]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_ALL_TASKS]
	(@USER_ID VARCHAR(16),
	@RESULT_DESC VARCHAR(8),
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON

	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT U.CD_USER FROM TB_USER U WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					DECLARE TEMP_TASKS_CURSOR CURSOR FOR SELECT CD_TASK FROM TB_TASK T JOIN TB_TASK_GROUP TG ON T.CD_TASK_GROUP = TG.CD_TASK_GROUP JOIN TB_USER U ON TG.CD_USER = U.CD_USER WHERE U.CD_USER = @USER_ID;
					DECLARE @TEMP_ID INT;
					OPEN TEMP_TASKS_CURSOR;

					FETCH NEXT FROM TEMP_TASKS_CURSOR INTO @TEMP_ID;

					WHILE @@FETCH_STATUS = 0
						BEGIN
							DELETE FROM TB_TASK WHERE CD_TASK = @TEMP_ID;
							FETCH NEXT FROM TEMP_TASKS_CURSOR INTO @TEMP_ID;
						END

					CLOSE TEMP_TASKS_CURSOR;
					DEALLOCATE TEMP_TASKS_CURSOR;

					SET @RESULT = 1;
					SET @RESULT_DESC = (SELECT 'DAT');

				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_TASK]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_TASK]
	(@USER_ID VARCHAR(16),
	@TASK_ID INT,
	@TASK_NAME NVARCHAR(16) OUTPUT,
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON

	SET @TASK_NAME = (SELECT '');
	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					IF (SELECT CD_USER FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID) IS NULL
						BEGIN
							IF @TASK_ID IS NOT NULL
								BEGIN
									DECLARE @TEMP_TASK TABLE(
										CD_TASK INT,
										NM_TASK_NAME NVARCHAR(32)
									);

									INSERT INTO @TEMP_TASK SELECT T.CD_TASK, T.NM_TASK FROM TB_TASK T JOIN TB_TASK_GROUP TG ON TG.CD_TASK_GROUP = T.CD_TASK_GROUP JOIN TB_USER U ON U.CD_USER = TG.CD_USER WHERE T.CD_TASK = @TASK_ID AND U.CD_USER = @USER_ID;

									IF @@ROWCOUNT = 1
										BEGIN
											DELETE FROM TB_TASK WHERE CD_TASK = (SELECT CD_TASK FROM @TEMP_TASK);
											SET @TASK_NAME = (SELECT NM_TASK_NAME FROM @TEMP_TASK);
											SET @RESULT = 1;
											SET @RESULT_DESC = (SELECT 'DT');
										END
									ELSE
										BEGIN
											SET @RESULT_DESC = (SELECT 'DT-1');
										END
								END
							ELSE
								BEGIN
									SET @RESULT_DESC = (SELECT 'GE-5');
								END
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = (SELECT 'GE-7');
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_TASK_GROUP]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_TASK_GROUP]
	(@USER_ID VARCHAR(16),
	@TASK_GROUP_ID INT,
	@TASK_GROUP_NAME NVARCHAR(32) OUTPUT,
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON

	SET @TASK_GROUP_NAME = (SELECT '');
	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					IF (SELECT CD_USER FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID) IS NULL
						BEGIN
							IF @TASK_GROUP_ID IS NOT NULL
								BEGIN
									DECLARE @TEMP_TASK_GROUP TABLE(
										CD_TASK_GROUP INT,
										NM_TASK_GROUP NVARCHAR(32)
									);

									INSERT INTO @TEMP_TASK_GROUP SELECT TG.CD_TASK_GROUP, TG.NM_TASK_GROUP FROM TB_TASK_GROUP TG JOIN TB_USER U ON U.CD_USER = TG.CD_USER WHERE TG.CD_TASK_GROUP = @TASK_GROUP_ID AND U.CD_USER = @USER_ID;

									IF @@ROWCOUNT > 0
										BEGIN
											DELETE FROM TB_TASK WHERE CD_TASK_GROUP = (SELECT CD_TASK_GROUP FROM @TEMP_TASK_GROUP);
											DELETE FROM TB_TASK_GROUP WHERE CD_TASK_GROUP = (SELECT CD_TASK_GROUP FROM @TEMP_TASK_GROUP);
											SET @TASK_GROUP_NAME = (SELECT NM_TASK_GROUP FROM @TEMP_TASK_GROUP)
											SET @RESULT = 1;
											SET @RESULT_DESC = (SELECT 'DTG');
										END
									ELSE
										BEGIN
											SET @RESULT_DESC = (SELECT 'GE-3');
										END
								END
							ELSE
								BEGIN
									SET @RESULT_DESC = (SELECT 'DTG-1');
								END
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = (SELECT 'GE-7');
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_USER]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_USER]
	(@USER_ID VARCHAR(16),
	@RESULT_DESC VARCHAR(8),
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON

	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT U.CD_USER FROM TB_USER U WHERE U.CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					DECLARE @TEMP_RESULT BIT, @TEMP_RESULT_DESC VARCHAR(8);
					EXEC SP_DELETE_ALL_TASKS @USER_ID, @TEMP_RESULT, @TEMP_RESULT_DESC;

					DELETE FROM TB_TASK_GROUP WHERE CD_USER = @USER_ID;
					DELETE FROM TB_USER WHERE CD_USER = @USER_ID;

					IF (SELECT U.CD_USER FROM TB_USER U WHERE U.CD_USER = @USER_ID) IS NULL
						BEGIN
							SET @RESULT = 1;
							SET @RESULT_DESC = (SELECT 'DU');
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = (SELECT 'GE-3');
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_TASK]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_TASK]
	(@TASK_ID INT,
	@USER_ID VARCHAR(16),
	@TASK_NAME NVARCHAR(32) OUTPUT,
	@TASK_DESCRIPTION NVARCHAR(320) OUTPUT,
	@TASK_CONCLUDED BIT OUTPUT,
	@TASK_CREATED DATETIME OUTPUT,
	@GROUP_ID INT OUTPUT,
	@GROUP_NAME NVARCHAR(32) OUTPUT,
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON

	SET @TASK_NAME = (SELECT '');
	SET @TASK_DESCRIPTION = (SELECT '');
	SET @TASK_CONCLUDED = (SELECT '');
	SET @TASK_CREATED = (SELECT '');
	SET @GROUP_ID = (SELECT '');
	SET @GROUP_NAME = (SELECT '');
	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					IF (SELECT CD_USER FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID) IS NULL
						BEGIN
							IF @TASK_ID IS NOT NULL
								BEGIN
									DECLARE @TEMP_RESULT TABLE(
										CD_TASK INT,
										NM_NAME NVARCHAR(32),
										NM_DESCRIPTION NVARCHAR(320),
										IC_CONCLUDED BIT,
										DT_CREATED_AT DATETIME,
										CD_TASK_GROUP INT,
										NM_TASK_GROUP_NAME NVARCHAR(32)
									);

									INSERT INTO @TEMP_RESULT SELECT T.CD_TASK, T.NM_TASK, T.NM_DESCRIPTION, T.IC_CONCLUDED, T.DT_CREATED, TG.CD_TASK_GROUP, TG.NM_TASK_GROUP FROM TB_TASK T JOIN TB_TASK_GROUP TG ON TG.CD_TASK_GROUP = T.CD_TASK_GROUP JOIN TB_USER U ON U.CD_USER = TG.CD_USER WHERE T.CD_TASK = @TASK_ID AND U.CD_USER = @USER_ID;

									IF @@ROWCOUNT = 1
										BEGIN
											SET @TASK_NAME = (SELECT NM_NAME FROM @TEMP_RESULT);
											SET @TASK_DESCRIPTION = (SELECT NM_DESCRIPTION FROM @TEMP_RESULT);
											SET @TASK_CONCLUDED = (SELECT IC_CONCLUDED FROM @TEMP_RESULT);
											SET @TASK_CREATED = (SELECT DT_CREATED_AT FROM @TEMP_RESULT);
											SET @GROUP_ID = (SELECT CD_TASK_GROUP FROM @TEMP_RESULT);
											SET @GROUP_NAME = (SELECT NM_TASK_GROUP_NAME FROM @TEMP_RESULT);
											SET @RESULT = 1;
											SET @RESULT_DESC = (SELECT 'ST');
										END
									ELSE
										BEGIN
											SET @RESULT_DESC = (SELECT 'ST-1');
										END
								END
							ELSE
								BEGIN
									SET @RESULT_DESC = (SELECT 'GE-5');
								END
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = (SELECT 'GE-7');
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_TASK_GROUP]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SELECT_TASK_GROUP]
	(@GROUP_ID INT,
	@USER_ID VARCHAR(16),
	@GROUP_NAME NVARCHAR(32) OUTPUT,
	@DT_CREATED DATETIME OUTPUT,
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)

	AS
	BEGIN
	SET NOCOUNT ON

	SET @GROUP_NAME = (SELECT '');
	SET @DT_CREATED = (SELECT '');
	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					IF (SELECT CD_USER FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID) IS NULL
						BEGIN
							IF @GROUP_ID IS NOT NULL
								BEGIN
									DECLARE @TEMP_GROUP TABLE(
										NM_TASK_GROUP NVARCHAR(32),
										DT_CREATED DATETIME
									);

									INSERT INTO @TEMP_GROUP SELECT NM_TASK_GROUP, DT_CREATED FROM TB_TASK_GROUP WHERE CD_TASK_GROUP = @GROUP_ID AND CD_USER = @USER_ID;

									IF @@ROWCOUNT = 1
										BEGIN	
											SET @GROUP_NAME = (SELECT NM_TASK_GROUP FROM @TEMP_GROUP);
											SET @DT_CREATED = (SELECT DT_CREATED FROM @TEMP_GROUP);
											SET @RESULT = 1;
											SET @RESULT_DESC = (SELECT 'STG');
										END
									ELSE
										BEGIN
											SET @RESULT_DESC = (SELECT 'STG-1');
										END
								END
							ELSE
								BEGIN
									SET @RESULT_DESC = (SELECT 'GE-4');
								END
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = (SELECT 'GE-7');
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SET_USER_ACTIVE]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SET_USER_ACTIVE]
	(@USER_ID VARCHAR(16),
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)
	AS
	BEGIN
	SET NOCOUNT ON

	SET @RESULT = 0;

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					IF (SELECT CD_USER FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID) IS NOT NULL
						BEGIN
							DELETE FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID;
							SET @RESULT = 1;
							SET @RESULT_DESC = (SELECT 'SUA');
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = (SELECT 'SUA-1');
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = (SELECT 'GE-2');
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = (SELECT 'GE-1');
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SET_USER_INACTIVE]    Script Date: 16/05/2022 16:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SET_USER_INACTIVE]
	(@USER_ID VARCHAR(16),
	@DATE VARCHAR(16) OUTPUT,
	@RESULT_DESC VARCHAR(8) OUTPUT,
	@RESULT BIT OUTPUT)
	AS
	BEGIN
	SET NOCOUNT ON

	SET @RESULT = 0;
	SET @DATE = (SELECT '');

	IF @USER_ID IS NOT NULL
		BEGIN
			IF (SELECT CD_USER FROM TB_USER WHERE CD_USER = @USER_ID) IS NOT NULL
				BEGIN
					IF (SELECT CD_USER FROM TB_INACTIVE_USER WHERE CD_USER = @USER_ID) IS NULL
						BEGIN
							DECLARE @TEMP_DATE DATE  = GETDATE() + 7;
							INSERT INTO TB_INACTIVE_USER(CD_USER, DT_PROG_DATE) VALUES(@USER_ID, @TEMP_DATE);
							SET @RESULT = 1;
							SET @RESULT_DESC = 'SUI';
							SET @DATE = @TEMP_DATE;
						END
					ELSE
						BEGIN
							SET @RESULT_DESC = 'SUI-1';
						END
				END
			ELSE
				BEGIN
					SET @RESULT_DESC = 'GE-2';
				END
		END
	ELSE
		BEGIN
			SET @RESULT_DESC = 'GE-1';
		END
END
GO
USE [master]
GO
